<!DOCTYPE html>
{% extends "../base.html" %}

{% load static %}
{% block template %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/shop.css' %}">
    <script src="{% static 'js/shop.js' %}"></script>
    <script>
        var CSRF_TOKEN = '{{ csrf_token }}';
        var USER_COINS = '{{ user.userinfo.coins }}'
    </script>
</head>

<body>
    <div class="page">
        <h3 class="coins-title">COINS: {{ user.userinfo.coins }}</h3>
        <table class="table">
            <thead>
                <th>Name</th>
                <th>Price</th>
                <th> </th>
            </thead>
            <tbody id="shop-table">

            </tbody>

        </table>
    </div>
</body>

</html>
{% endblock %}