<!DOCTYPE html>

{% extends "../base.html" %}
{% load static %}

{% block templatepage %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redeem QR Code</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'js/location.js' %}"></script>
    <script> var CSRF_TOKEN = '{{ csrf_token }}' </script>
</head>
<body onload=getLocation()>
        <h2>You found a code!</h2>
        <p>(some message should show up below)</p>
        <p id='status'></p>
        <button onclick="location.href='{% url 'quiz:QuizAttempt' %}'" type="button">BONUS QUIZ</button>
        <button onclick="location.href='{% url 'home' %}'" type="button" class="primarybutton">PLAY</button>
</body>
</html>
{% endblock %}