<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Location Testing</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'js/scan_qrcode.js' %}"></script>
    <script>
        var CSRF_TOKEN = '{{ csrf_token }}';
        function redirectHomePage() {
            window.location.href = '{% url "home" %}';
        }

        window.onload = function() {
            setCode('{{ code }}');
            getLocation('{{ code }}');
        };
    </script>
</head>
    <body>
        <h1>Testing</h1>
        <p id='status'></p>
        <button onclick="redirectHomePage()">Home</button>
    </body>
</html>