#RegisterForm {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.column input {
    width: 50%;
    align-self: center;
}

.subform {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    text-align: center;
    width: 20%;
}

#id_profile_picture {
    background: None;
    text-align: center;
    height: auto;
}

#previewDiv {
    position: relative;
}

.sideDiv #pfp {
    display: none;
    position: absolute;
    top: 0;
    left: calc(100% + 10px);
    width: 48px;
}