.table {
    width: 700px;
    font-size: xx-large;
    border-collapse: collapse;
    margin: auto;
}

table b {
    font-family: NimbusLight;
}

.leaderboard-table {
    width: 100%;
}

.table th,
.table td {
    padding: 12px 10px;
}

.table th {
    text-align: left;
    font-size: 0.6em;
}

.table tbody tr td {
    padding: 10px;
}

.table tbody tr td a {
    text-decoration: none;
    color: #333;
    -webkit-text-stroke: initial;
}


.table tbody tr:last-child {
    border-top: 1px solid black;
}

.leaderboardtype {
    margin-bottom: 3%;
}

.leaderboardtype {
    margin-bottom: 3%;
}

p.title {
    margin: 0;
    font-size: 0.36em;
    text-shadow: none;
    -webkit-text-stroke: initial;
    color: black !important;
    border-radius: 10px;
    width: 100%;
    text-align: left !important;
}

.name-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 48px;
    max-height: 48px;
    overflow: hidden;
}

.name-box img {
    object-fit: fill;
    margin-right: 20px !important;
    height: 50px;
    width: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: #333c57;
    border-bottom-left-radius: 50px 45px;
    border-bottom-right-radius: 45px 50px;
    border-top-left-radius: 45px 50px;
    border-top-right-radius: 50px 45px;
}

.name-box div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 100%;
}

.segmented-button {
    display: flex;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    padding: 5px;

    align-self: center;
    background-color: #f4f4f4;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    color: #333c57;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    text-decoration: none;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.segmented-button input {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
}

.segmented-button label {
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    flex: 1 1 0px;
    position: relative;
    z-index: 2;

    align-self: center;
    display: inline-block;
    padding: .75rem;
}

.segmented-button input:checked+label {
    font-weight: 600;

    background-color: #f4f4f4;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;

    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;

    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;

    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.segmented-button label:hover {
    font-weight: 600;
}

@media (max-width: 450px) {
    .page {
        background: none;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }

    body {
        background: radial-gradient(circle at top center, #96c5df 60%, #0fa3f0 100%);
    }

    .table {
        width: 90vw !important;
        margin-bottom: 20vh;
    }

    td a {
        max-width: 40vw;
    }
}