#profileboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
}

#imagename {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}