button[disabled] {
    background: gray;
    transition: none;
    pointer-events: none;
}

.c-title {

    color: #2E2E2E;
    -webkit-text-stroke: initial;
    text-shadow: none;
    font-weight: normal;
    letter-spacing: -10px;
    font-weight: 400;
    font-size: 100px;
    margin: 3vh auto 0;
}

h2 {

    color: #2E2E2E;
    -webkit-text-stroke: initial;
    text-shadow: none;
    text-align: left;
    margin-bottom: 0;
}

h2:first-child {
    margin-top: 0;
}

.scroll-1::-webkit-scrollbar {
    display: initial;
    width: 8px;
    height: 8px;
}

.scroll-1::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #888;
}

.container * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: black;
    font-family: 'Actionman';
    -webkit-text-stroke: initial;
    text-shadow: none;
}

#shop-container {
    max-width: 50vw;
    margin: 0 auto;
}

.container {
    display: flex;
    overflow-x: scroll;
    padding: 0 0 10px;
    scroll-snap-type: x mandatory;
    scroll-padding-top: 24px;
    border-radius: 8px;
    gap: 20px;
}

.container .bg-card {
    flex: 0 0 21%;
    overflow: hidden;
    border-radius: 15px;
    background: #f4f4f4;
    scroll-snap-align: start;
    max-width: 15vw;
    background-color: #f4f4f4;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #333c57;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
}

.bg-card .card__image {
    flex: 1;
    height: 15vh;
    background-size: cover;
}

.bg-card .card__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.bg-card .card__content .card__title {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    color: black;
    text-transform: capitalize;
}

.bg-card .card__content .card__describe {
    color: black;
    font-size: 16px;
}


.bg-buy {
    width: 100%;
    height: 50px;
}

.tt-section {
    display: flex;
    gap: 5%;
    margin-bottom: 2vh;
}


.tt-buy {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    max-height: 60%;
    align-content: center;
    justify-content: center;
    margin: auto;
}

.tt-card {
    width: 40vw;
    height: 50px;
    border-radius: 8px;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #333c57;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
}

.tt-card-overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: repeating-conic-gradient(var(--bg) 0.0000001%, var(--grey) 0.000104%) 60% 60%/600% 600%;
    filter: opacity(10%) contrast(105%);
}

.tt-card-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    overflow: hidden;
    padding: 0 6%;
    height: 50px;
    background-color: var(--contrast);
    border-radius: 30px;
    font-size: 15px;
    font-weight: 900;
    color: black;
    text-align: left;
    font-family: monospace;
    display: grid;
    grid-template-columns: 0.7fr 0.2fr 0.3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.tt-card-inner p {
    font-family: Actionman;
    margin: 0;
    position: relative;
    top: 25%;
}

.Cosmic {
    background: url('../media/profile_backgrounds/cosmic.jpg')
}

.Forest {
    background: url('../media/profile_backgrounds/forest.jpg')
}

.Green {
    background: url('../media/profile_backgrounds/green.jpg')
}

.penguin_one {
    background: url('../media/profile_backgrounds/penguin_one.jpg')
}

.penguin_two {
    background: url('../media/profile_backgrounds/penguin_two.jpg')
}

#shop-backgrounds {
    margin-bottom: 6%;
}

.page {
    margin-bottom: 15%;
}

@media (max-width: 1500px) {
    .bg-card .card__content .card__title {
        font-size: 1rem;
    }
}

@media (max-width: 1100px) {
    .bg-card .card__content .card__title {
        font-size: 1rem;
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    .page {
        margin: -12vh;
        background: none;
        border: none;
        box-shadow: none;
    }

    body {
        background: radial-gradient(circle at top center, #96c5df 30%, #0fa3f0 100%);
    }

    #shop-container {
        max-width: 90vw;
        margin: 0 auto 20vh;
    }

    #shop-container h2 {
        text-align: center;
    }

    .tt-section {
        flex-direction: column;
    }

    .tt-card {
        width: auto;
        height: auto;
        margin-bottom: 1vh;
        background: white;
    }

    .tt-card-inner {
        padding: 1% 0;
        min-width: 100%;
    }

    .tt-card-inner p:first-child {
        padding-left: 5%;
    }

    .tt-buy {
        font-size: smaller;
    }

    #shop-backgrounds {
        margin-top: 5%;
    }

    .container {
        flex-direction: column;
    }

    .container .bg-card {
        max-width: 60vw;
        margin: 0 20%;
    }

    .shop-title {

    }

    .c-title {
        font-size: 5rem;
        border-bottom: 1px solid black;
        margin-top: 10vh;
        z-index: 9999999999;
        position: relative;
    }

    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
}