@font-face {
    font-family: 'Actionman';
    src: url("../fonts/actionman.ttf");
}


body {
    background-image: url('../media/backgroundD.png');
    background-color: #02050C;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: Actionman;
    text-align: center;
    margin: auto;
}

.page {
    text-align: center;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    border-radius: 6px;
    /*
    background: rgb(255,249,233);
    background: radial-gradient(circle, rgba(255,249,233,1) 78%, rgba(220,237,255,1) 100%);
    */
    background: rgb(4,30,41);
    background: radial-gradient(circle, rgba(4,30,41,1) 19%, rgba(22,24,31,1) 98%);
    color: white;
    padding: 10px
}

h1 {
    font-family: Actionman;
    color: white;
    font-size: 75px;
    -webkit-text-stroke: 2px #02050C;
    text-shadow: 0 5px 0px #02050C;
    font-weight: bold;
}

h2 {
    font-family: Actionman;
    color: white;
    font-size: 50px;
    -webkit-text-stroke: 2px #02050C;
    text-shadow: 0 3px 0px #02050C;
    font-weight: bolder;
}


.topnav {
    max-width: 1500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*
    background: rgb(154,192,232);
    background: linear-gradient(180deg, rgba(154,192,232,1) 1%, rgba(42,146,255,1) 3%, rgba(5,104,253,1) 98%, rgba(3,60,147,1) 99%);
    */
    border-radius: 6px;
    padding: 10px;
    color: #fff;    
}

.topnav-center {
    order: 2;
}

.topnav-right {
    order: 3;
}

.topnav-left {
    order: 1;
}

.topnav-brand {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    list-style-type: none;
}

button {

    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    /*
    background: linear-gradient(180deg, rgba(154,192,232,1) 1%, rgba(42,146,255,1) 3%, rgba(5,104,253,1) 98%, rgba(3,60,147,1) 99%);
    */
    background: rgb(53,91,107);
    background: linear-gradient(180deg, rgba(53,91,107,1) 2%, rgba(10,66,89,1) 11%, rgba(7,47,64,1) 80%, rgba(3,22,29,1) 98%);
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -2px 0px rgb(3,60,147 / 50%);
    padding: 0 32px;
    border-radius: 6px;
    color: #fff;
    height: 48px;
    font-size: 18px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    font-family: actionman;
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    
}

button:hover {
    text-shadow: 1px 1px 10px white;
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #00000035;
    transform: translateY(1px);
}

input {

    display: inline-block;
    background: rgb(255,249,233);
    padding: 0 32px;
    border-radius: 6px;
    color: #fff;
    height: 48px;
    font-size: 18px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    font-family: actionman;
    
}

.primarybutton {
    outline: 0;
    border: 0;
    color: rgb(136, 96, 47);
    /*
    background: rgb(230,228,128);
    background: radial-gradient(circle, rgba(230,228,128,1) 11%, rgba(255,210,91,1) 80%);
    */
    background: rgb(255,241,218);
background: linear-gradient(180deg, rgba(255,241,218,1) 2%, rgba(250,220,171,1) 17%, rgba(250,191,97,1) 87%, rgba(210,135,18,1) 99%);
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -2px 0px rgb(58 65 111 / 50%);
}

.primarybutton:hover {
    text-shadow: 1px 1px 10px white;
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #00000035;
    transform: translateY(1px);
}

/* Style the links inside the navigation bar */
.nav-link {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    list-style-type: none;
}

/* Change the color of links on hover */
.topnav a:hover {
    text-shadow: 1px 1px 10px white;
}

/* Add a color to the active/current link */
.topnav a.active {
    color: white;
}