.tc-title {
    font-family: NimbusLight;
    color: #2E2E2E;
    -webkit-text-stroke: initial;
    text-shadow: none;
    font-weight: normal;
    letter-spacing: -10px;
    font-weight: 400;
    font-size: 100px;
    margin: 3vh auto 0;
    text-align: center !important;
}

.page * {
    text-align: left;
}

.page {
    margin-bottom: 20vh;
}

h2 {
    font-family: NimbusLight;
    color: #2E2E2E;
    -webkit-text-stroke: initial;
    text-shadow: none;
    margin-bottom: 0;
}

@media (max-width: 450px) {
    .tc-title {
        font-size: xx-large;
        letter-spacing: initial;
    }

    h2 {
        font-size: large;
    }
}