<!-- template.html -->
<!DOCTYPE html>
{% extends "../base.html" %}
{% load static %}

{% block templatepage %}
    <html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/leaderboard.css' %}">
        <script src="{% static 'js/leaderboard.js' %}"></script>
        <title>Leaderboard</title>
        <script>
            var CSRF_TOKEN = '{{ csrf_token }}';
            const username = '{{ user.username }}';
        </script>
    </head>
    <body>
        <div class="page">
    <h2 style="margin-bottom: 3%;">Leaderboard</h2>
    <div class="leaderboardtype">
        <button value="global">Global</button>
        <button value="friends">Friends</button>
        <button value="cumulativeScore" style="margin-left: 5%;">Cumulative Score</button>
        <button value="highscore">High Score</button>
        <button value="coins">Coins</button>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Username</th>
            <th id="th-score-type">Cumulative Score</th>
            <th>   </th>
        </tr>
        </thead>
        <tbody id="leaderboard-table">

        </tbody>
    </table>
        </div>
    </body>

    </html>
{% endblock %}
