<!--Author: Daniel Banks-->

<!DOCTYPE html>

{% extends "../base.html" %}

{% block templatepage %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
    <h2> Login </h2>

    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}} <!-- Can be changed similar to how 'register.html' does forms for more customisability -->
        <button onclick="location.href='{% url 'accounts:register' %}'" type="button">Register</button>
        <input type="submit" value="Login" class="primarybutton">
    </form>
</body>

</html>
{% endblock %}