<!--Author: Daniel Banks-->

<!DOCTYPE html>
{% extends "../base.html" %}
{% load static %}
{% block templatepage %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Your Profile</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>

<body>
    <form method="POST" action="" enctype="multipart/form-data" class="dropzone" id="RegisterForm">
        {% csrf_token %}

        <div class="background-image"></div>

        <h2>Your Profile</h2>

        <img class="account-img-profile" src="{{ user.userinfo.picture.url }}">


        <div style="display: flex; flex-direction:row; width:fit-content; margin: auto;">
            <div class="textfield">
                Username:
                <input name="username" placeholder="{{ form.username.initial }}" class="input-field" type="text">
            </div>

            <div class="textfield">
                Email:
                <input name="email" placeholder="{{ form.email.initial }}" class="input-field" type="text">
            </div>
        </div>

        <div style="display: flex; flex-direction:row; width:fit-content; margin: auto;">
            <div class="textfield">
                First name:
                <input name="first_name" placeholder="{{ form.first_name.initial }}" class="input-field" type="text">
                <label for="input-field" class="input-label"></label>
            </div>


            <div class="textfield">
                Last Name:
                <input name="last_name" placeholder="{{ form.last_name.initial }}" class="input-field" type="text">

            </div>
        </div>

        <div style="display: flex; flex-direction:row; width:fit-content; margin: auto;">
            <div class="textfield">
                Background:
                {{ form.background }}
            </div>

            <div class="textfield">
                Title:
                {{ form.title }}
            </div>
        </div>

        <div class="textfield">
            Profile Picture:
            <input type="file" name="profile_picture" id="id_profile_picture">
        </div>

        <button type="submit" class="primarybutton">Change</button>
        {{ form.username.errors }}
        {{ form.email.errors }}
        {{ form.first_name.errors }}
        {{ form.last_name.errors }}
        {{ form.title.errors }}
        {{ form.background.errors }}
        {{ form.profile_picture.errors }}

    </form>

    <script>
        bg_filenames = {
            'Green': 'green.jpg',
            'Forest': 'forest.jpg',
            'Cosmic': 'cosmic.jpg',
            'First Penguin': 'penguin_one.jpg',
            'Second Penguin': 'penguin_two.jpg',
        }

        $('document').ready(function () {
            // Sets the background if the user has one
            {% if user.userinfo.background.picture %}
            let bg_img = document.getElementsByClassName('background-image')[0];
            bg_img.style.background = `url("{% static 'media/profile_backgrounds/' %}{{ user.userinfo.background.picture }}")`;
            bg_img.style.backgroundSize = 'cover';
            {% endif %}

            document.querySelector('.profile-picture').addEventListener('click', function () {
                document.getElementById('id_profile_picture').click();
            });

            // Changes the picture anytime a file is uploaded
            $("#id_profile_picture").change(function () {
                console.log(this.files)
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('.profile-picture-container img').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(this.files[0]);
                }
            });

            // Changes the background if a new one is selected
            $("#id_background").change(function () {
                console.log('Hello')
                var selected = $(this).children("option:selected").text();
                let bg_img = document.getElementsByClassName('background-image')[0];

                if (selected == 'Default') {
                    bg_img.removeAttribute('style');
                    return
                }

                bg_img.style.background = ` url("{% static 'media/profile_backgrounds/' %}${bg_filenames[selected]}")`;
                bg_img.style.backgroundSize = 'cover';
                bg_img.classList = `background-image ${selected}-background`;
            })
        });
    </script>
</body>

</html>
{% endblock %}