<!DOCTYPE html>
{% extends "../base.html" %}
<html lang="en">
{% load static %}
{% block templatepage %}

<head>
    <meta charset="UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'js/profile.js' %}"></script>
    <script>
        var user_background = '{{ user_data.userinfo.background.css_class }}';
        var CSRF_TOKEN = '{{ csrf_token }}';
    </script>

    <style>
        {
            % if user_data.userinfo.background.picture %
        }

        .background-image {
            background: url("{% static 'media/profile_backgrounds/' %}{{ user_data.userinfo.background.picture }}");
            background-size: cover;
        }

            {
            % endif %
        }
    </style>
    <title>Profile</title>
</head>

<body>

    <h1>{{ user_data.username }}</h1>

    <div class="background-image"></div>

    <img src="{{ user_data.userinfo.picture.url }}" class="account-img-profile" alt="Profile Picture">


    <h5>{{ title }}</h5>

    <div class="stat">
        <p>Coins</p>
        <p>{{ user_data.userinfo.coins }}</p>
    </div>
    <div class="stat">
        <p>Highscore</p>
        <p>{{ user_data.userinfo.highscore }}</p>
    </div>
    <div class="stat">
        <p>Total Score</p>
        <p>{{ user_data.userinfo.cumulativeScore }}</p>
    </div>

    {% if not following %}
    <button onclick="addFriend('{{ user_data.username }}')" class="primarybutton">Add Friend</button>
    {% elif friend %}
    <button onclick="location.href='{% url 'accounts:message' username=user_data.username %}'" type="button"
        class="profile-button">Message</button>
    {% endif %}
    {% if following %}
    <button id="removefriend" onclick="removeFriend('{{ user_data.username }}')" type="button"
        class="primarybutton">Remove friend</button>
    {% endif %}


</body>

</html>
{% endblock %}