<!DOCTYPE html>

{% extends "../base.html" %}
{% load static %}
{% block templatepage %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/edit_profile.css' %}">
    <title>Register</title>
</head>

<body>
    <h2> Register </h2>

    <!-- Rest of your form -->
    <form method="POST" action="" enctype="multipart/form-data" class="dropzone" id="RegisterForm">
        {% csrf_token %}

        <div style="display: flex;
        flex-direction:column; width:fit-content; margin: auto;">

            <div style="display: flex; flex-direction:row; width:fit-content">
                {{ form.email.label_tag }}
                {{ form.email }}

                {{ form.username.label_tag }}
                {{ form.username }}
            </div>

            <div style="display: flex; flex-direction:row; width:fit-content">
                {{ form.first_name.label_tag }}
                {{ form.first_name }}

                {{ form.last_name.label_tag }}
                {{ form.last_name }}
            </div>

            <div style="display: flex; flex-direction:row; width:fit-content">
                {{ form.password1.label_tag }}
                {{ form.password1 }}

                {{ form.password2.label_tag }}
                {{ form.password2 }}
            </div>
        </div>

        <input type="submit" value="Register" class="primarybutton">
        {{ form.errors }}
    </form>

    <!-- Use window.onload to ensure the DOM is fully loaded -->
    <script>
        $('document').ready(function () {
            $("#id_profile_picture").change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#pfp').attr('src', e.target.result);
                        $('#pfp').css('display', 'block');
                    }
                    reader.readAsDataURL(this.files[0]);
                }
            });
        });
    </script>
</body>

</html>
{% endblock %}