<!DOCTYPE html>

{% extends "../base.html" %}
{% load static %}
{% block templatepage %}

    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
        <title>Register</title>
    </head>
    <body>
    <form method="POST" action="" enctype="multipart/form-data" class="dropzone" id="RegisterForm">
        {% csrf_token %}
        <div class="register-container">
            <h1 class="register-title">Register</h1>
            {% if form.username.errors %}
                <p class="-username username-error">Username already exists</p>
            {% endif %}
            <div class="input-container -username">
                <input name="username" type="text" required="">
                <label for="input" class="label">Username</label>
                <div class="underline"></div>
            </div>
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <p class="-email error">{{ error }}</p>
                {% endfor %}
            {% endif %}
            <div class="input-container -email">
                <input name="email" type="text" required="">
                <label for="input" class="label">Email</label>
                <div class="underline"></div>
            </div>
            {% if form.password1.errors %}
                <p class="-password error">Password is not strong enough</p>
            {% endif %}
            <div class="input-container -password">
                <input name="password1" type="password" required="">
                <label for="input" class="label">Password</label>
                <div class="underline"></div>
            </div>
            {% if form.password2.errors %}
                <p class="-confirm-pwd error">Passwords do not match</p>
            {% endif %}
            <div class="input-container -confirm-pwd">
                <input name="password2" type="password" required="">
                <label for="input" class="label">Confirm password</label>
                <div class="underline"></div>

            </div>
            <div class="buttons">
                <button type="submit" class="register-btn">Register</button>
                <button onclick="location.href='{% url 'accounts:log_in' %}'" type="button">Login</button>
            </div>
        </div>
    </form>
    </body>
    </html>
{% endblock %}