
<!DOCTYPE html>
{% extends "../base.html" %}

{% load static %}
{% block template %}
    <html lang="en">
    <head>
        <title>QR Code Generator</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="{% static 'js/manage_qr.js' %}"></script>
        <script>
            var CSRF_TOKEN = '{{ csrf_token }}';
        </script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
    </head>
    <body onload="refresh_values()">
    <div class="page">
        <input type="text" id="dataInput" placeholder="Enter a code (leave blank to complete for you)" style="width:24rem">

        <button onclick="generateQRCode()">Generate QR Code</button>
        <div id="qrCodeContainer"></div>
        <br>
        <button onclick="showQRCodes()">Show All QR Codes</button>
        <br>
        <table>
            <thead class="qr-table-head" style="display:none">
            <tr>
                <th>Code</th>
                <th>Expired</th>
                <th>Longitude</th>
                <th>Latitude</th>
            </tr>
            </thead>
            <tbody class="qr-container">
            </tbody>
        </table>
        <br>
    </div>
    </body>
    </html>
{% endblock %}